.vscode
.DS_Store
gpu-prometheus/prometheus-grafana/vendor
gpu-prometheus/prometheus-grafana/jsonnetfile.lock.json
gpu-prometheus/prometheus-grafana/manifests
gpu-prometheus/nvidia-prometheus-exporter/manifests